<h3 >Developing custom directives  in Angular</h3>
<hr/>

<h1  appHighLighter>Applying custom directives in Angular</h1>

<h1  [appHighLighter]=" 'Aqua' ">Applying custom directives in Angular</h1>

<h1  [appHighLighter]=" 'Yellow' ">Applying custom directives in Angular</h1>

<h1  [appHighLighter]=" 'lime' ">Applying custom directives in Angular</h1>

<hr/>

<h3 >Using custom structural directives  in Angular</h3>
<hr/>


<div *appIsAdmin="isAdminUser">
  <p>This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. </p>

  <p>This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. </p>
</div>


